* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Young serif", "Outfit";
    color: hsl(30, 10%, 34%);
}

body {
    background: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteinerCard {
    width: 40em;
    background: hsl(0, 0%, 100%);
    margin-top: 10vh;
    border-radius: 1em;
    padding: 1.5em;
}

.conteinerCard .conteiner--img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    height: fit-content;
    
}

.conteiner--img img{
    max-width: 100%;
    height: 100%;
    border-radius: .8em;
}

.receta {
    padding: 1em 0;
    margin: 1em 0;
}

.receta .receta--title {
    font-size: 1.8em;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}

.receta .receta--description {
    font-family: "Outfit";
    color: hsl(30, 10%, 34%);
    margin-top: 1em;
}

.preparation {
    background: hsl(332, 51%, 32%, 0.1);
    border-radius: .5em;
    padding: 1em;
}

.preparation--title {
    color: hsl(332, 51%, 32%);
   
}

.preparation ul {
    padding-left: 1.5em;
}

.preparation .list--span--resultado {
    font-size: .9em;
}

.preparation li {
    list-style-type: disc;
    color: hsl(332, 51%, 32%);
    padding: .7em;
}

.list--span{
    color: hsl(30, 10%, 34%);
    font-weight: 900;
}

.preparation ul .preparation--duration {
    font-family: "Outfit";
}

.conteiner--ingredients {
    border-bottom: 1px solid hsl(30, 10%, 34%, .4);
}

.conteiner--ingredients h2 {
    margin-top: 1em;
    color: hsl(14, 45%, 36%);
}

.conteiner--intructions .intruction {
    font-family: "Outfit";
}

.conteiner--ingredients .list__ingredients {
    font-family: "Outfit";
}

.conteiner--ingredients ul{
    margin-left: .5em;
}

.conteiner--ingredients li {
    margin: 1em .8em;
    padding-left: 1em;
}

.conteiner--intructions {
    border-bottom: 1px solid hsl(30, 10%, 34%, .4);
}

.conteiner--intructions h2 {
    margin-top: 1em;
    color: hsl(14, 45%, 36%);
}

.conteiner--intructions ol {
    margin-left: 1em;
}

.conteiner--intructions li {
    margin: 1em .8em;
    padding-left: 1em;
}

.nutrition{
    margin-top: 1em;
}

.nutrition .nutrition__title {
    margin-bottom: 1em;
    color: hsl(14, 45%, 36%);
}

.nutrition .nutrition__description {
    font-size: .8em;
}

.nutrition .nutrition__table {
    width: 100%;
    margin-top: 1em;
}

.nutrition__table .tr {
    width: 100%;
    line-height: 1em;
    border-bottom: 1px solid hsl(30, 10%, 34%, .4);
    padding-bottom: 1em;
    display: flex;
}

.nutrition__table tbody tr{
    margin: 1em 0;
    display: block;
}

.tr th,td{
    width: 50%;
}

.tr th {
    text-align: start;
    font-weight: 100;
}

.tr td {
    color: hsl(14, 45%, 36%);
}
