* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Young serif";
    color: hsl(30, 10%, 34%);
}

body {
    background: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteinerCard {
    width: 40em;
    background: hsl(0, 0%, 100%);
    margin-top: 10vh;
    border-radius: 1em;
    padding: 1.5em;
}

.conteinerCard .conteiner--img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15em;
    height: fit-content;
    
}

.conteiner--img img{
    max-width: 100%;
    height: 100%;
    border-radius: .8em;
}

.receta {
    padding: 1em 0;
    margin: 1em 0;
}

.receta .receta--title {
    font-size: 1.8em;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}

.receta .receta--description {
    font-size: .8em;
    font-weight: 300;
    margin-top: 1em;
}

.preparation {
    background: hsl(332, 51%, 32%, 0.2);
    border-radius: .5em;
    padding: 1em;
}

.preparation--title {
    color: hsl(332, 51%, 32%);
   
}

.list--span{
    color: hsl(30, 10%, 34%);
    font-weight: 900;
}




















.box{
    height: 100px;
    width: 100px;    
}

.box1{background: hsl(0, 0%, 100%);}
.box2{background: hsl(30, 54%, 90%)}
.box3{background:  hsl(30, 18%, 87%);}
.box4{background: hsl(30, 10%, 34%)};
.box5{background: hsl(24, 5%, 18%);}
.box6{background: hsl(14, 45%, 36%);}
.box7{background: hsl(332, 51%, 32%);}
.box8{background: hsl(330, 100%, 98%);}